html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  min-width: $mobile;
  margin: 0;

  color: var(--fontColor);
  background-color: var(--bgBodyColor);

  font-family: var(--mainFontFamily), sans-serif;
  font-weight: 400;
  font-size: var(--mainFontSize);
  line-height: 1.22;

  background-image: url(../images/bg/bg_top_img_mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    body {
      background-image: url(../images/bg/bg_top_img_mobile@2x.jpg);
    }
  }
}

@media screen and (min-width: 321px) {
  body {
    background-image: url(../images/bg/bg_top_img_tablet@1x.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  body {
    background-image: url(../images/bg/bg_top_img_tablet@2x.jpg);
  }
}

@media screen and (min-width: $tablet) and (max-width: 1279px) {
  body {
    background-image: url(../images/bg/bg_decorlines_tablet.svg),
      url(../images/bg/bg_top_img_tablet@1x.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    body {
      background-image: url(../images/bg/bg_decorlines_tablet.svg),
        url(../images/bg/bg_top_img_tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: $desktop) {
  body {
    background-image: url(../images/bg/bg_decorlines_desktop.svg),
      url(../images/bg/bg_top_img_desktop@1x.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    body {
      background-image: url(../images/bg/bg_decorlines_desktop.svg),
        url(../images/bg/bg_top_img_desktop@2x.jpg);
    }
  }
}

body.overlay-show {
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.icon {
  fill: currentColor;
}

.test_box {
  margin-left: auto;
  margin-right: auto;
  width: 200px;

  height: 600px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
