.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 284px;
  padding-left: 7px;
  padding-right: 7px;

  @media screen and (min-width: $tablet) {
    & {
      max-width: 620px;
      padding-left: 13px;
      padding-right: 13px;
    }
  }

  @media screen and (min-width: $desktop) {
    & {
      // position: relative;
      max-width: 1000px;
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}
