{{#each this}}
    <li class="cards__item">
        <img class="cards__img" src="images/Rectangle 6.png" alt="" width="180" height="227" />
        <h3 class="item__title">Eurovision 2021 finals!</h3>
        <p class="item__date">2021-05-13</p>
        <p class="item__location">
        <svg width="7" height="10" class="item__icon">
            <use href="images/sprite.svg#icon-location"></use>
        </svg>
        Palace of Ukraine
        </p>
        </li>
{{/each}}