<div class="overlay is-hidden">
  <article class="modal_main" data-modal_main>
    <h2 class="visually-hidden">Event information</h2>
    <button aria-label="close button" data-modal_main_button class="closeButton">
      <svg class="icon" width="17" height="17">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="js-modal__content"></div>

    <div class="modal__footer">
      <button class="button button--author">MORE FROM THIS AUTHOR</button>
    </div>
  </article>
</div>
