<div class="overlay is-hidden">
  <div class="backdrop"></div>
  <article class="modal_main" data-modal_main>
    <button data-modal_main_button class="closeButton">
      <svg class="icon" width="17" height="17">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="js-modal__content">
      <!-- <div class="modal_main__thumb">
        <img src="./images/temp_modal_event_preview.jpg" alt="event" />
      </div>
      <div class="modal__flex">
        <img class="modal_main__image" src="./images/temp_modal_event.jpg" alt="event" />
  
        <div class="modal__content">
          <div class="modal__meta">
            <h3 class="modal_main__title">INFO</h3>
            <p>
              Atlas Weekend is the largest music festival in Ukraine. More than 200 artists will
              create a proper music festival atmosphere on 10 stages
            </p>
          </div>
  
          <div class="modal__meta">
            <h3 class="modal_main__title">WHEN</h3>
            <p>2021-06-09</p>
            <p>20:00 (Kyiv/Ukraine)</p>
          </div>
  
          <div class="modal__meta">
            <h3 class="modal_main__title">WHERE</h3>
            <p>Kyiv, Ukraine</p>
            <p>VDNH</p>
          </div>
  
          <div class="modal__meta">
            <h3 class="modal_main__title">WHO</h3>
            <p>The Black Eyed Peas</p>
          </div>
          <div class="modal__meta">
            <h3 class="modal_main__title">PRICES</h3>
            <p class="modal__price">
              <svg width="24" height="17">
                <use href="./images/sprite.svg#icon-ticket_barcode"></use>
              </svg>
              Standart 300-500 UAH
            </p>
            <button class="button button--ticket" data-modal_button_standart>BUY TICKETS</button>
  
            <p class="modal__price">
              <svg width="24" height="17">
                <use href="./images/sprite.svg#icon-ticket_barcode"></use>
              </svg>
              VIP 1000-1500 UAH
            </p>
            <button class="button button--ticket" data-modal_button_vip>BUY TICKETS</button>
          </div>
        </div>
      </div> -->
    </div>

    <button class="button button--author">MORE FROM THIS AUTHOR</button>
  </article>
</div>
