<div class="backdrop-our-team" data-modal-our-team>
  <div class="backdrop-our-team__overlay"></div>
  <div class="modal-our-team">
    <h3 class="modal-our-team__title">Our team</h3>
    <a href="https://goit.ua/" class="logo-goit" target="_blank" rel="noopener noreferrer">
      <img src="/images/goit.png" alt="Go It" width="150" />
    </a>
    <button data-modal-close class="closeButton">
      <svg class="icon" width="17" height="17">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="list our-team">
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="180" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
        <ul class="list">
          <li>
            <a href="" class="link" target="_blank" rel="noopener noreferrer" aria-label="linkedin">
              <svg class="icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-close"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="" class="link" target="_blank" rel="noopener noreferrer" aria-label="github">
              <svg class="icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-close"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="180" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="180" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="180" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="180" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="180" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="180" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="180" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="180" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="180" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
    </ul>
  </div>
</div>
