<!-- <div class="backdrop-our-team">
  <div class="modal-our-team">
    <h3 class="modal-our-team__title">Our team</h3>
    <a href="https://goit.ua/" class="logo-goit" target="_blank" rel="noopener noreferrer">
      <img src="/images/goit.png" alt="Go It" width="100" height="30" />
    </a>
    <button data-modal_main_button class="closeButton">
      <svg class="icon" width="17" height="17">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="list our-team">
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="150" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="150" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="150" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="150" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="150" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="150" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="150" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="150" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="150" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
      <li class="our-team__item">
        <img class="item__img" src="/images/Rectangle 6.png" alt="Victor Poklad" width="150" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg width="7" height="10" class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
      </li>
    </ul>
  </div>
</div> -->
