<div class="backdrop-our-team" data-modal-our-team>
  <div class="backdrop-our-team__overlay"></div>
  <div class="modal-our-team">
    <h3 class="modal-our-team__title">Our team</h3>
    <a href="https://goit.ua/" class="logo-goit" target="_blank" rel="noopener noreferrer">
      <img src="/images/goit.png" alt="Go It" width="150" />
    </a>
    <button data-modal-close class="closeButton">
      <svg class="icon" width="17" height="17">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="list our-team js-our-team">
      <li class="our-team__item">
        <img class="item__img" src="/images/our_team/Poklad.jpg" alt="Victor Poklad" width="180" />
        <p class="item__title">Victor Poklad</p>
        <p class="item__location">
          <svg class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kharkiv
        </p>
        <ul class="list social">
          <li class="social__item">
            <a
              href="https://www.linkedin.com/in/viktor-poklad/"
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="linkedin"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://github.com/vpoklad"
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="github"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="our-team__item">
        <img
          class="item__img"
          src="/images/our_team/Stotskyi.jpg"
          alt="Mykola Stotskyi"
          width="180"
        />
        <p class="item__title">Mykola Stotskyi</p>
        <p class="item__location">
          <svg class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Zhytomyr
        </p>
        <ul class="list social">
          <li class="social__item">
            <a
              href="https://www.linkedin.com/in/mykola-stotskyi-526069221/"
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="linkedin"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://github.com/mstotskyi"
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="github"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="our-team__item">
        <img
          class="item__img"
          src="/images/our_team/Chernysh.jpg"
          alt="Victor Chernysh"
          width="180"
        />
        <p class="item__title">Victor Chernysh</p>
        <p class="item__location">
          <svg class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Chernihiv
        </p>
        <ul class="list social">
          <li class="social__item">
            <a
              href=""
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="linkedin"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://github.com/Viktor-Chernysh"
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="github"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="our-team__item">
        <img
          class="item__img"
          src="/images/our_team/Tsyhanenko.jpg"
          alt="Olha Tsyhanenko"
          width="180"
        />
        <p class="item__title">Olha Tsyhanenko</p>
        <p class="item__location">
          <svg class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kherson
        </p>
        <ul class="list social">
          <li class="social__item">
            <a
              href="https://www.linkedin.com/in/olya-tsyganenko-971001221/"
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="linkedin"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://github.com/OlhaTsyhanenko"
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="github"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="our-team__item">
        <img
          class="item__img"
          src="/images/our_team/Kozlovska.jpg"
          alt="Halyna Kozlovska"
          width="180"
        />
        <p class="item__title">Halyna Kozlovska</p>
        <p class="item__location">
          <svg class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Lviv
        </p>
        <ul class="list social">
          <li class="social__item">
            <a
              href="https://www.linkedin.com/in/halyna-k-218579220/"
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="linkedin"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://github.com/Halyna-K"
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="github"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="our-team__item">
        <img
          class="item__img"
          src="/images/our_team/Danyliuk.jpg"
          alt="Mykola Danyliuk"
          width="180"
        />
        <p class="item__title">Mykola Danyliuk</p>
        <p class="item__location">
          <svg class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Kyiv
        </p>
        <ul class="list social">
          <li class="social__item">
            <a
              href=""
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="linkedin"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://github.com/Klaus-Dnlk"
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="github"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="our-team__item">
        <img
          class="item__img"
          src="/images/our_team/Pjatygin.jpg"
          alt="Sergej Pjatygin"
          width="180"
        />
        <p class="item__title">Sergej Pjatygin</p>
        <p class="item__location">
          <svg class="item__icon">
            <use href="./images/sprite.svg#icon-location"></use>
          </svg>
          Rovno
        </p>
        <ul class="list social">
          <li class="social__item">
            <a
              href=""
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="linkedin"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://github.com/sptgin"
              class="link social__link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="github"
            >
              <svg class="social__icon">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
