.button {
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding-left: 19px;
  padding-right: 19px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0;
  border-radius: 5px;
  background-color: var(--buttonBackgroundColor);
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover,
  &focus {
    background-color: var(--buttonBackgroundColorHover);
  }
  @media screen and(max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.closeButton {
  position: absolute;
  z-index: 5;

  top: 20px;
  right: 20px;
  background-color: transparent;
  color: var(--buttonBackgroundColor);
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover,
  &focus {
    color: var(--buttonBackgroundColorHover);
    transform: scale(1.3);
  }
}
