.select {
    position: relative;
    width: 270px;
  }
  
  .select__toggle {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
    width: 270px;
    padding: 10px 30px;
    line-height: 1.22;
    user-select: none;
    justify-content: space-between;
    color: #cac7c7;
    margin-right: 0;
    background-image: url(../images/polygon.svg);
    background-repeat: no-repeat;
    background-position: right 30px center;  
  }
  
  .select__toggle:focus {

  }
  
  .select_show .input{
    background-image: url(../images/polygon_transform.svg);
    outline: none;
  }
  
  .select__dropdown {
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
    max-height: 170px;
    // max-height: 210px;
    overflow-y: auto;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border: none;
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    align-items: center;
    width: 270px;
    padding: 10px 30px;
    line-height: 1.22;
    user-select: none;
    justify-content: space-between;
    color: #CCCCCC;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.select__dropdown::before {
    position: sticky;
    top: 0;
    content: "";
    display: block;
    width: 225px;
    height: 1px;
    background: #939393;
    margin: 0 auto;
}

  .select_show .select__toggle{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }

  .select__dropdown::-webkit-scrollbar {
    width: 5px;
}

  .select__dropdown::-webkit-scrollbar-thumb {
    background: #939393;
    width: 12px;
    border-radius: 20px;
  }
  
  .select_show .select__dropdown {
    display: block;
  }
  
  .select_show .select__backdrop {
    display: block;
  }
  
  .select__options {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .select__option {
    padding: 10px 30px;
  }
  
  .select__option_selected {
    background-color: #DC56C5;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
  .select__option:hover {
    background-color: #DC56C5;
    cursor: pointer;
    transition: 0.2s background-color ease-in-out;
  }

  .select__item-hide {
    visibility: hidden;
    position: absolute;
  }
  
  .select__item-show {
    visibility: visible;
  }