
.footer {
    
    margin-bottom: 27px;
    margin-left: 34px;
    margin-right: 34px;
    
    text-align: center;

    @media screen and (min-width: $tablet) {
        
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 18px;
        font-size: var(--mainFontSize);
        line-height: 1.2;
    }

    @media screen and (min-width: $desktop) {
        bottom: 19px;
    }
    

}

.footer__content {
    color: var(--footerFontColor);
    font-size: 14px;
    line-height: 1.2;
}   

.symbol_heart {
    color: #ff0000 ;
}

.footer__content a {
    text-decoration: none;
    font-family: var(--mainFontFamily);
    color: var(--footerFontColor);

    &:hover {
        color: #fff;
    }
}