.header {
  padding-top: 78px;

  @media screen and (min-width: $tablet) {
    padding-top: 40px;
  }
}

.logo {
  fill: currentColor;
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 60px;
  top: 24px;
  left: 24px;
  background: linear-gradient(
    136.07deg,
    rgba(196, 196, 196, 0.03) 10.75%,
    rgba(196, 196, 196, 0) 92.33%
  );
  backdrop-filter: blur(30px);

  @media screen and (min-width: $tablet) {
    max-width: 100px;
    top: 40px;
    left: 40px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 137px;
  }
}

.header__link {
  position: absolute;
  top: -78px;
  left: -18px;

  background: radial-gradient(circle farthest-side at 10% 130%, #777777, #141212d1);
  backdrop-filter: blur(30px);

  border-bottom-right-radius: 100%;
  width: 106px;
  height: 86px;

  @media screen and (min-width: $tablet) {
    width: 182px;
    height: 151px;
    top: -40px;
    left: -74px;
    background: radial-gradient(circle farthest-side at 150% 10%, #777777, #0a0909d1);
  }

  @media screen and (min-width: $desktop) {
    width: 239px;
    height: 201px;
    left: -140px;
    background: hsla(0, 7%, 21%, 0.322);
  }
}

.header__title {
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 212px;
  margin-left: auto;
  margin-right: auto;
  color: var(--accentColor);
  margin-bottom: 25px;

  @media screen and (min-width: $tablet) {
    font-size: 30px;
    width: 353px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 50px;
    width: 589px;
    margin-bottom: 50px;
  }
}

.search__block {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    max-width: 570px;
    padding-left: 0;
    padding-right: 0;
  }
}

.search__block--input {
  display: flex;
  margin-bottom: 25px;
  width: 270px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border-radius: 20px;
  padding: 10px 30px;
  border: 0;
  color: #cac7c7;
  line-height: 1.22;
  font-style: normal;

  @media screen and (min-width: $tablet) {
    & {
      display: inline-flex;
      margin-bottom: 0;
    }
  }
}
.search__block--input {
  background-image: url(../images/search_ico.svg);
  background-repeat: no-repeat;
  background-position: right 30px center;
}

::-webkit-input-placeholder {
  color: #cac7c7;
}
