.header {
  padding-top: 78px;

  @media screen and (min-width: $tablet) {
    & {
      padding-top: 40px;
    }
  }
}

.logo {
  position: absolute;
  top: 40px;
  left: 40px;
  max-width: 60px;
  top: 24px;
  left: 24px;

  @media screen and (min-width: $tablet) {
    & {
      max-width: 100px;
      top: 40px;
      left: 40px;
    }
  }

  @media screen and (min-width: $desktop) {
    & {
      max-width: 137px;
    }
  }
}

.header__link {
  position: absolute;
  top: 0px;
  left: 0px;

  background: radial-gradient(circle farthest-side at 10% 130%, #777777, #141212d1);
  backdrop-filter: blur(30px);

  border-bottom-right-radius: 100%;
  width: 106px;
  height: 86px;

  @media screen and (min-width: $tablet) {
    & {
      width: 179px;
      height: 152px;
      background: radial-gradient(circle farthest-side at 150% 10%, #777777, #0a0909d1);
    }
  }

  @media screen and (min-width: $desktop) {
    & {
      width: 239px;
      height: 201px;
      background: #38313152;
    }
  }
}



         
         
  

.header__title {
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 212px;
  margin-left: auto;
  margin-right: auto;
  color: var(--accentColor);
  margin-bottom: 25px;


  @media screen and (min-width: $tablet) {
    
      font-size: 30px;
      width: 353px;
      margin-bottom: 30px;
    
  }

  @media screen and (min-width: $desktop) {

     & {
    font-size: 50px;
    width: 589px;
    margin-bottom: 50px;
   }
  }

}

.search__block{
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    & {
      padding-left: 12px;
      padding-right: 12px;
      display: flex;
      justify-content: space-between;
       }
  }
  
  @media screen and (min-width: $desktop) {
    & {
      max-width: 570px;
      padding-left:0;
      padding-right: 0;
  }
  }
 }

.search__block--input{
display: flex;
margin-bottom: 25px;
width: 270px;
height: 40px;
background-color: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(20px);
border-radius: 20px;
padding: 10px 30px;
border: 0;
color: #939393;
line-height: 1.22;
font-style: normal;

@media screen and (min-width: $tablet) {
  & {
    display: inline-flex;
    margin-bottom: 0;
   }
}
}
.search__block--input{
  background-image: url(../images/search_ico.svg);
  background-repeat: no-repeat;
  background-position: right 30px center;
}







