.backdrop-our-team {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 13, 29, 0.8);
  backdrop-filter: blur(3px);
  opacity: 0;
  pointer-events: none;
}

.backdrop-our-team.is-open {
  // visibility: hidden;
  // opacity: 0;
  // pointer-events: none;
  opacity: 1;
  pointer-events: initial;
}

.modal-our-team {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% - 40px);
  outline: 1px solid red;
  //   width: 272px;
  //   background-color: var(--modalBgColor);
  //   border-radius: 150px 0px;
  overflow: auto;
  padding: 20px 15px;

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    padding: 25px 30px;
  }
}

.modal-our-team__title {
  display: none;
}

.our-team {
  display: grid;
  justify-content: center;
  grid-row-gap: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(4, 120px);
    grid-column-gap: 20px;
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(4, 150px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .item__img {
    border-radius: 50px 0;
  }

  .item__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #ff6b08;
    margin-top: 3px;

    @media screen and (min-width: $tablet) {
      font-size: 12px;
      line-height: 1.25;
    }
  }

  .item__location {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    color: var(--fontColor);
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $tablet) {
      font-size: 11px;
      line-height: 1.21;
    }
  }

  .item__icon {
    margin-right: 3px;
    fill: var(--fontColor);

    @media screen and (max-width: $tablet) {
      width: 6px;
      height: 9px;
    }
  }
}

.logo-goit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  background-color: transparent;
  width: 100px;
  animation: anime 2s linear;
  transform-origin: center center;
}

@keyframes anime {
  0% {
    transform: translateY(-200px);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
